<!DOCTYPE html>
<html>
    <title>SPONSEND</title>
<head>
    <meta charset="utf-8">
    <meta author="Shlok Naik | Shabarish Ramaswamy | Tejas Sawant | Ishita Paul">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="topwrap">
        <nav class="navbar navbar-expand-custom navbar-darkbg" style="position:fixed;">
            <a class="navbar-brand navbar-logo" href="#Main"><img src="logo.png" style="height:50px; width:50px;"></a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="#Main"><i class="fas fa-tachometer-alt"></i>CONVERT!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Video"><i class="far fa-calendar-alt"></i>VIDEO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#About"><i class="far fa-clone"></i>WORKFLOW</a>
                    </li>
   
                    <li class="nav-item ">
                        <a class="nav-link" href="#Services"><i class="far fa-address-book"></i>FEATURES</a>
                    </li>
           
                </ul>
            </div>
        </nav>

        <div id="wrapper">
 
            <section id="Main" class="section" >

                <div class="double-space"></div>

                <div class="centered-wrapper">
                    <h1 class="headt" >S  P  O  N  S  E  N  D</h1>
                    <h1  id="tagline"  style="text-align:center; font-size: 35px;">
                    </h1>
                    <h3 style="color:rgb(255, 179, 179);text-align: center;">SponsEnd is a software developed by our team which extracts the transcripts from your YouTube video. Our algorithm will analyze the timestamps with sponsored segments in the video and skip them to give you a hassle-free experience. </h3>
                   
                    <p class="box" style="text-align:center;">
                        <form>
                            <input type="text" placeholder="Enter link of youtube video..."/>
                            <input type="submit" value="SUBMIT!" />
                          </form>
                    </p>
                </div> 
     
                <div class="double-space"></div>
     
            </section>

            <section id="Video" class="section" style="background: rgb(0, 0, 0);">

                <div class="double-space"></div>

                <div class="centered-wrapper" >
                    <h2 style="color:rgb(255, 49, 49)">VIDEO</h2>
                    <div class="container"  data-aos="zoom-in-up" data-aos-duration="2000">

                    <h3 style="text-align: center; ">
                        "Revolutionize your YouTube experience with SponsEnd."
                    </h3>
                    <div class="container"  data-aos="zoom-in-up" data-aos-duration="2000">
                      <div class="row">
                        <div class="col-sm">
                          <h3 class="bubs1" style="padding:0px">
                           <!-- <video width="600px" height="500px" > 
                              
                            <source src="vid.mp4" 
                                type="video/mp4"> 
                        </video>  -->
                      
                        <iframe width="640" height="470" src="https://www.youtube.com/embed/dQrBgda0sEY"></iframe> </h3>
                                            </div>
          
                      <div class="col-sm" >
                            <h3 class="scrollb"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla dictum quam nec turpis vulputate dapibus. Aliquam pulvinar faucibus quam vitae finibus. Sed blandit metus ante, eu lacinia ex eleifend id. Maecenas vel interdum odio. Etiam consectetur scelerisque felis nec condimentum. Vestibulum quis lobortis tortor. Pellentesque bibendum ipsum eu magna dignissim, non pellentesque elit venenatis. Ut dapibus ut magna vitae congue.</h3>
                        </div>
                     
                      </div>
                    </div>

                    </div>
                </div>

                <div class="double-space"></div>
        
            </section>

            <section id="About" class="section">

                <div class="double-space"></div>

                <div class="centered-wrapper">
                    <h2>WORKFLOW</h2>
                 <br><br>
                   <div class="container"  data-aos="zoom-in-up" data-aos-duration="2000">
                    <div class="row">
                      <div class="col-sm">
                        <img src="https://cdn-icons.flaticon.com/png/512/2504/premium/2504965.png?token=exp=1649397663~hmac=5fe4e5966862ee7a6cbb495026fe0119" style="height:130px; width:130px">
                        <h3 class="bubs1"><br>122 million active users use Youtube at the expense of their patience! SponsEnd is easy to understand, easy to use and step ahead of YouTube.</h3>                     
                    </div>
        
                    <div class="col-sm" >
                          <img src="process.png" style="height:130px; width:130px">
                          <h3 class="bubs1"><br>SponsEnd takes in a YouTube url as input, then the alogrithm spits out the video with the sponsored segments removed from the said video.</h3>
                      </div>
                   
                          <div class="col-sm">
                        <img src="logo.png" style="height:130px; width:130px">
                        <h3 class="bubs1"><br> Explore and Improve with Sponsend right now! We provide a sleek interface to improve your video watching experience.  </h3>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="double-space"></div>        
            </section>

            <section id="Services" class="section" style="background: rgb(0, 0, 0);">
   
                <div class="double-space"></div>
    
                <div class="centered-wrapper" >
                    <h2 style="color:rgb(255, 57, 57)">FEATURES</h2>
                    <br>
                    <div class="container" data-aos="zoom-in-up" data-aos-duration="3000">
                        <div class="row">
                          <div class="col-sm" style="width:300px;" >
                              <img class = "imgwrp" src="https://cdn-icons-png.flaticon.com/512/7160/7160424.png">
                            <h3 class="bubs"><br> CLOUD </h3>    
                            <p class="tg"> Our project has been containerize using Docker. Moreover this has been hosted in an x86 enviornment using Virtual Linux containers on Baremetal emulation device.</p>
                        </div>
                          <div class="col-sm" style="width:300px;"  >
                            <img class = "imgwrp" src="https://cdn-icons-png.flaticon.com/128/164/164691.png">
                            <h3 class="bubs"><br> NLP </h3>    
                            <p class="tg">We use NLP to use sponsor content data and train a Gensim Doc2Vec model for anomaly detection. Outliers are content and the rest is sponsored text.</p>                    
                 
                          </div>
                          <div class="col-sm" style="width:300px;" >
                            <img class = "imgwrp" style="height=50px" src="https://cdn-icons.flaticon.com/png/512/1865/premium/1865042.png?token=exp=1649399525~hmac=6de455217a5e987856533d274b54afd5">
                            <h3 class="bubs"><br> STREAMING </h3>        
                            <p class="tg">The user will add desired YouTube url as input and the processed video will be streamed in the SponsEnd website itself.This video will be free of the sponsored segments.</p>                    
             
                          </div>
                          <div class="col-sm" style="width:300px;" >
                            <img class = "imgwrp" style="height=50px" src="https://cdn-icons-png.flaticon.com/128/1672/1672241.png">
                            <h3 class="bubs"><br> SPONSORS </h3>
                            <p class="tg">Sponsorships take up time when placed in videos delivering crucial information. We don't mean to infringe on their agency, we want users to have a good viewing experience.</p>                     
                          </div>
                          <div class="col-sm" style="width:300px;" >
                            <img class = "imgwrp" src="https://cdn-icons-png.flaticon.com/512/2779/2779775.png">
                            <h3 class="bubs"><br> HMI </h3> 
                            <p class="tg">The team has done extensive research and user interviews to understand issues of using YouTube.SponsEnd uses HTML, CSS and Vanilla JS.</p>                    
                          </div>
                                        </div>
                      </div>
                </div>

                <div class="double-space"></div>
        
            </section>
        </div>

        <script>
          AOS.init();
          window.addEventListener("scroll", (event) => {
            let container = document.querySelector('nav');
        if (container.scrollHeight - window.scrollY === container.clientHeight) {
         document.querySelector('nav').style.background = "transparent";
            } else
            document.querySelector('nav').style.background = "black";
            });

var i = 0;
var txt = 'Experience YouTube better!';
var speed = 100; 

window.addEventListener("load", (event) => {
function typeWriter() {
  if (i < txt.length) {
    document.getElementById("tagline").innerHTML += txt.charAt(i);
    i++;
    setTimeout(typeWriter, speed);
  }
}
typeWriter();
});

            function test(){
	var tabsNewAnim = $('#navbarSupportedContent');
	var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
	var activeItemNewAnim = tabsNewAnim.find('.active');
	var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
	var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
	var itemPosNewAnimTop = activeItemNewAnim.position();
	var itemPosNewAnimLeft = activeItemNewAnim.position();
	$(".hori-selector").css({
		"top":itemPosNewAnimTop.top + "px", 
		"left":itemPosNewAnimLeft.left + "px",
		"height": activeWidthNewAnimHeight + "px",
		"width": activeWidthNewAnimWidth + "px"
	});
	$("#navbarSupportedContent").on("click","li",function(e){
		$('#navbarSupportedContent ul li').removeClass("active");
		$(this).addClass('active');
		var activeWidthNewAnimHeight = $(this).innerHeight();
		var activeWidthNewAnimWidth = $(this).innerWidth();
		var itemPosNewAnimTop = $(this).position();
		var itemPosNewAnimLeft = $(this).position();
		$(".hori-selector").css({
			"top":itemPosNewAnimTop.top + "px", 
			"left":itemPosNewAnimLeft.left + "px",
			"height": activeWidthNewAnimHeight + "px",
			"width": activeWidthNewAnimWidth + "px"
		});
	});
}
$(document).ready(function(){
	setTimeout(function(){ test(); });
});
$(window).on('resize', function(){
	setTimeout(function(){ test(); }, 500);
});
$(".navbar-toggler").click(function(){
	$(".navbar-collapse").slideToggle(300);
	setTimeout(function(){ test(); });
});



jQuery(document).ready(function($){
	var path = window.location.pathname.split("/").pop();

	if ( path == '' ) {
		path = 'main.html';
	}

	var target = $('#navbarSupportedContent ul li a[href="'+path+'"]');
	target.parent().addClass('active');
});

        </script>
        </div>
        </body>
        </html>
